/* Ray Arbizu */

body {
    background-image: linear-gradient(#0766AD, #29ADB2);
    background-repeat: no-repeat;
    
}

h2 {
    color: #C5E898;
    text-align: center;
}

hr {
    height: 2px;
    background-color: aliceblue;
    border: none;

}

#animatedText span {
    opacity: 0;
    transform: translateX(-50px);
    transition: transform 0.5s, opacity 0.5s;
}

.animation {
    font-family: 'ADLaM Display', sans-serif;
    font-size: 56px;
    color: #F3F3F3;
    text-align: center;
}

.txtFever {
    font-family: 'ADLaM Display', sans-serif;
    font-size: 42px;
    color: #0766AD;
    text-align: center;
}

#feverText {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease-out;
}
  
.header-wrapper {
    background-image: linear-gradient(#C5E898, #29ADB2);
    padding: 20px;
    margin: -10px;
}
  
.inputPalindrom {
    color: #C5E898;
    font-family: 'ADLaM Display', sans-serif;
}

.inputPalindrom input[type="submit"] {
    background-color: #0766AD;
    color: #F3F3F3;
    border-color: #C5E898;
    border-radius: 25px;
}

.inputPalindrom input[type="submit"]:hover {
    background-color: #F3F3F3;
    color: #0766AD;
    border-color: #C5E898;
    border-radius: 25px;
}

#wordForward {
    color: #F3F3F3;
    font-family: 'ADLaM Display', sans-serif;
}

#wordBackward {
    color: #F3F3F3;
    font-family: 'ADLaM Display', sans-serif;
}

#wordResult {
    color: #F3F3F3;
    font-family: 'ADLaM Display', sans-serif;
}

#enterAnother {
    color: #F3F3F3;
    padding: 5px;
    font-family: 'ADLaM Display', sans-serif;
    text-align: center;
}

button {
    background-color: #0766AD;
    color: #F3F3F3;
    border-color: #C5E898;
    border-radius: 25px;
}

button:hover {
    background-color: #F3F3F3;
    color: #0766AD;
    border-color: #C5E898;
    border-radius: 25px;
}

nav {
    height: 1000px;
}